<meta charset="utf-8" />
<style>
.msg_origine {display: block;padding: 3px;margin: 2px;border: 1px solid #BBB;border-top: 1px solid #CCC;background: rgba(128, 128, 128, 0.1);color: #555;font-size: 0.9em;}
</style>